/* VersaSuite Checkbox Style */
.checkbox {
}
.cb_label {
  white-space: nowrap;
  text-align: center;
}
.cb_label.pushlike {
  background: #e1e1e1;
  border: 1px solid #aaaaaa;
  color: black;
}
.cb_label.pushlike:hover {
  background: #e5f1fb;
}
.cb_label.pushlike:active {
  background: #cce4f7;
  border: 1px solid #005499;
}
.cb_label.pl_pushed {
  background: #cce4f7;
  border: 1px solid #005499;
}
.cb_label.nonpushlike {
  background: 'transparent';
  color: black;
}
.listitem {
  background: transparent;
  border: 1px solid #aaaaaa;
  color: black;
}
.listitem:hover {
  background: #e5f1fb;
}
.listitem:active {
  background: #cce4f7;
  border: 1px solid #005499;
}
.li_pushed {
  background: #0078d7;
  border: 0px none solid;
  color: #ffffff;
}
