/* Base Styles*/
.Round {
  text-align: left;
  padding: 4px;
  border-radius: 4px;
  margin: 4px;
}
.Edit {
  display: block;
  box-shadow: none;
  min-height: 22px;
  overflow: hidden;
  padding: 0;
  resize: none;
}

/* Edit States */
.Edit.unchanged {
}
.Edit.changed {
  background-color: yellow;
  color: black;
}
.Edit.invalid {
  background-color: red;
  color: white;
}
