/* done to conform input an textarea as much as possible */
.Edit > input,
.Edit > textarea {
  display: block;
  box-shadow: none;
  min-height: 22px;
  overflow: hidden;
  padding: 0;
  resize: none;
}

.unchanged {
}

.changed {
  background-color: yellow;
  color: black;
}

.invalid {
  background-color: red;
  color: white;
}
