.rich-editor {
  width: 256px;
}

.rich-edit-box {
  border-top: 2px solid rgb(190, 0, 190);
  border-left: 2px solid rgb(182, 0, 182);
  border-right: 2px solid rgb(97, 0, 97);
  border-bottom: 2px solid rgb(87, 0, 87);

  background: rgb(167, 167, 167);
}

/* base div styles */
.caption {
  border-top: 2px solid rgb(190, 0, 190);
  border-left: 2px solid rgb(182, 0, 182);
  border-right: 2px solid rgb(97, 0, 97);
  border-bottom: 2px solid rgb(87, 0, 87);
}

.cursor-caret:focus {
  animation: blinkingBGColor 1.2s infinite;
}

.cursor-caret {
  /* position: absolute; */
  width: 1px;
  height: 17.6px;
  background-color: #000000;
}

@keyframes blinkingBGColor {
  0% {
    background-color: #000;
  }
  49% {
    background-color: #000;
  }
  60% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #000;
  }
}

@keyframes blinkingColor {
  0% {
    color: #000;
  }
  49% {
    color: #000;
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: #000;
  }
}
