/* VersaSuite Checkbox Style */
.pl_pushed {
  background: #cce4f7;
  border: 1px solid #005499;
}
.nonpushlike {
  background: 'transparent';
  color: black;
}
.checkbox {
  display: 'inline-block';
}
.listitem {
  background: transparent;
  border: 1px solid #aaaaaa;
  color: black;
}
.listitem:hover {
  background: #e5f1fb;
}
.listitem:active {
  background: #cce4f7;
  border: 1px solid #005499;
}
.li_pushed {
  background: #0078d7;
  border: 0px none solid;
  color: #ffffff;
}
