.evaluation {
  background: initial;
  background-color: initial;
  font: initial;
  font-weight: initial;
  font-family: initial;
  color: initial;
  border: initial;
  border-radius: initial;
  background: initial;
}
