.App {
  text-align: top;
}

body {
  background-color: teal;
}

#menu-close {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input[type='number'] {
  -webkit-appearance: none;
}
input[type='text'] {
  -webkit-appearance: none;
}
input[type='date']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}
input[type='date']::-webkit-clear-button {
  display: none;
}
input[type='date']::-ms-clear {
  display: none;
}
input[type='time']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}
input[type='time']::-webkit-clear-button {
  display: none;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  color: red;
}

/*fix for Firefox */
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

table,
th,
td,
thead,
tbody,
tfoot {
  padding: 0px;
  margin: 0px;
  -webkit-appearance: none;
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 0px;
}

.inherit div,
button,
input {
  margin: 0;
  padding: 0;

  color: inherit;
  font: inherit;
  background: inherit;

  font-family: inherit;
  box-sizing: border-box;
}

.value div,
input {
  color: inherit;
  font: inherit;
  background: transparent;
}

button:focus,
input:focus {
  outline: none;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}

.modal_content {
  background-color: white;
  position: absolute;
  top: 20%;
  left: 30%;
  width: 40%;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid black;
}

.close {
  color: Black;
  float: right;
}

.close:hover {
  color: gold;
  cursor: pointer;
}

/* Context Menu */
.react-contextmenu-wrapper {
}

.react-contextmenu {
  background-color: grey;
  border: 3px solid red;
  border-radius: 5px;
}

.react-contextmenu.react-contextmenu--visible {
}

.react-contextmenu-item {
  background-color: black;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
}

.react-contextmenu-item.react-contextmenu-item--active,
.react-contextmenu-item.react-contextmenu-item--selected {
}

.react-contextmenu-item.react-contextmenu-item--disabled,
.react-contextmenu-item.react-contextmenu-item--disabled:hover {
}

.react-contextmenu-item--divider {
}
.react-contextmenu-item--divider:hover {
}

.react-contextmenu-item.react-contextmenu-submenu {
}

.react-contextmenu-item.react-contextmenu-submenu > .react-contextmenu-item {
}

.react-contextmenu-item.react-contextmenu-submenu
  > .react-contextmenu-item:before {
}

.example-multiple-targets::after {
}

.Button {
  filter: brightness(88%);
  /*background-color: grey;*/
}
.Button:hover {
  filter: brightness(125%);
}
.Button:active {
  filter: brightness(66%);
}

.toggleButton {
}
.toggleButton:hover {
  filter: brightness(125%);
}
.toggleButton:active {
  filter: brightness(66%);
}
