body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'NotoSansKR';
  src: local('NotoSansKR'),
    url(./fonts/NotoSansKR-Regular.otf) format('opentype');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*MUI Example*/
Button.MuiButton-contained {
  background: 'linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%)';
  border: 0;
  border-radius: 3;

  box-shadow: '0 3px 5px 2px rgba(255, 105, 135, .3)';
  color: 'white';
  padding: '0 30px';
}
